/* Poppins Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,
body {
    overflow: hidden !important;
    background: none !important;
    font-family: 'Poppins', sans-serif !important;
}

img {
    max-width: 100%;
    height: auto;
    z-index: -1 !important;
    position: absolute;
}

.sp{
    filter: brightness(50%);
}

div {
    height: 600px;
}

#txt {
    color: #FFF;
    position: relative;
    text-align: center;
    top: 220px;
    z-index: 999;
}

h1 {
    font-size: 56px !important;
}

#buts {
    position: relative;
    text-align: center;
    top: -230px;
    z-index: 999999 !important;
}